/* ===== HERO ===== */
.hero {
  position: relative;
  background: #fff;
  font-family: 'Trebuchet MS', sans-serif;
}
.hero__media img {
  display: block;
  width: 100%;

  object-fit: cover;
  object-position: center;
}

.hero__content {
  text-align: center;
  margin-top: -10px;
  max-width: min(920px, 92vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title_blue {
  color: #0097dc !important;
  margin: 0;
}
.hero__title {
  font-family: 'Helvetica', 'Source Serif Pro', Georgia, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -1px;
  color: #0c2340;
  max-width: 796px;
  margin: 0px auto 0;
}
.hero__grad {
  background: linear-gradient(90deg, #0097dc 0%, #0fb3ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.hero__text {
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-size: 16.6px;
  line-height: 27px;
  color: #0c2340;
  margin: 20px auto 0;
  max-width: 760px;
}

.hero__ctas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.hero__btn {
  height: 40px;
  border-radius: 60px;
  padding: 0 22px;
}

.btn_demo {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: #0097dc;
  font-family: 'Trebuchet MS';
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s easy;
}

.btn_demo:hover {
  color: #0078dc;
  transition: all 0.3s ease;

  svg {
    transform: translateX(2px);
    transition: all 0.3s ease-in-out;
  }
}

.hero__link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15.13px;
  letter-spacing: 0.4px;
  color: #0097dc;
  text-decoration: none;
}
.hero__link:hover {
  text-decoration: underline;
}
.hero__arrow {
  flex: 0 0 17px;
}

/* 1440 */
@media (max-width: 1480px) {
  .hero__media img {
    height: 360px;
  }
  .hero__content {
    margin-top: 35px;
  }
}

/* 1024 */
@media (max-width: 1060px) {
  .hero__media img {
    height: 350px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 44px;
  }
}

/* 768 */
@media (max-width: 800px) {
  .hero__media img {
    height: 250px;
  }
  .hero__title {
    font-size: 40px;
    line-height: 44px;
  }
  .hero__text {
    font-size: 16.73px;
  }
  .hero__ctas {
    margin-top: 30px;
  }
}

@media (max-width: 420px) {
  /* .hero__media img {
    height: 97.5px;
  } */
  .hero__content {
    margin-top: 30px;
    text-align: left;

    max-width: unset;
  }
  .hero__eyebrow {
    font-size: 15.63px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 44px;
    margin-top: 30px;
  }
  .hero__text {
    font-size: 16.73px;
  }
  .hero__ctas {
    justify-content: flex-start;
    gap: 40px;
    margin-top: 30px;
  }
  .hero__btn {
    width: 306px;
  }
}

@media (max-width: 340px) {
  .hero__btn {
    width: 100%;
  }
}
